<h1>{{ 'email.please-confirm-email'|trans }}</h1>

<p>
    {{ 'email.confirm-email-link'|trans }}: <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email.confirm-email'|trans }}</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cheers!
</p>
