{% extends 'base.html.twig' %}

{% block title %}Épisode{% endblock %}

{% block body %}
    <h1>Épisode</h1>
    <div class="container show">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            </tbody>
        </table>

        <div class="back d-flex justify-content-center my-4">
            <a class="btn mr-5" href="{{ path('episode_edit', {'slug': episode.slug}) }}">Modifier</a>

        {{ include('episode/_delete_form.html.twig') }}
    </div>
        <a href="{{ path('episode_index') }}">Retour</a>
    </div>
{% endblock %}
