{% extends 'base.html.twig' %}

{% block title %}Saisons{% endblock %}

{% block body %}
    <h1>Liste des saisons</h1>
    <div class="container show">
        <div class="my-4">
            <a class="btn" href="{{ path('admin_season_new') }}">Ajouter une saison</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>N°</th>
                <th>Année</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td>
                        <a class="btn" href="{{ path('admin_season_edit', {'id': season.id}) }}">Modifier</a>
                        {{ include('season/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
