{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ program.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ program.title }} - Saison {{ season.number }}</h1>
    <div class="container program-show">
        <div class="row mx-0">
            <div class="card flex-md-row mb-3">
                <div class="card-img text-center m-md-4">
                    <img src="{{ program.poster }}" alt="{{ program.title }} poster">
                </div>
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">Épisode {{ episode.number }} : {{ episode.title }}</h2>
                    <p>{{ season.description }}</p>
                </div>
            </div>
        </div>

        <div class="back my-4">
            <a href="{{ path("program_season_show", { 'program_slug': program.slug , season: season.id }) }}">
                Retour
            </a>
        </div>
    </div>

{% endblock %}