{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries</h1>
    <div class="container-fluid">
        <div class="row justify-content-around mx-0">
            {% for program in programs %}
                <div class="card m-4">
                    <div class="card-img text-center">
                        <img class="poster" src="{{ program.poster }}" alt="{{ program.title }} poster">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ program.title }}</h2>
                        <p class="card-text">{{ program.summary }}</p>
                        <p class="card-text">Catégorie : {{ program.category.name }}</p>
                        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}