{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'actor.add'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center my-4">{{ 'actor.add'|trans }}</h1>
    <div class="container form">
        {{ include('actor/admin/_form.html.twig') }}

        <div class="back my-4">
            <a href="{{ path('admin_actor_index') }}">{{ 'back'|trans }}</a>
        </div>
    </div>
{% endblock %}
