{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ 'program.update'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center my-4">{{ 'program.update'|trans }}</h1>
    <div class="container form">
        {{ include('program/admin/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="back my-4">
            {{ include('program/admin/_delete_form.html.twig') }}
        </div>

        <div class="back my-4">
            <a href="{{ path('admin_program_index') }}">{{ 'back'|trans }}</a>
        </div>

    </div>
{% endblock %}
