{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ program.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ program.title }}</h1>
    <div class="container program-show">
        <div class="row mx-0">
            <div class="card flex-md-row mb-3">
                <div class="card-img text-center m-md-4">
                    <img src="{{ program.poster }}" alt="{{ program.title }} poster">
                </div>
                <div class="card-body d-flex flex-column">
                    <p>{{ program.summary }}</p>
                    <p>Catégorie : {{ program.category.name }}</p>
                    <p>Acteurs :
                        {% for actor in program.actors %}
                            <a href="{{ path("actor_show", { slug: actor.slug }) }}">{{ actor.name }},</a>
                        {% else %}
                            Aucun acteur pour cette série
                        {% endfor %}
                    </p>
                    <div class="d-flex flex-column mt-5">
                        <p>Saisons disponibles :</p>
                        {% for season in seasons %}
                            <a href="{{ path("program_season_show", { program: program.id , season: season.id }) }}">
                                Saison {{ season.number }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="back d-flex justify-content-center my-4">
            <a class="btn mr-5" href="{{ path('admin_program_edit', {'slug': program.slug}) }}">Modifier</a>

            {{ include('program/admin/_delete_form.html.twig') }}
        </div>

        <div class="back my-4">
            <a href="{{ path('admin_program_index') }}">
                Retour
            </a>
        </div>
    </div>

{% endblock %}